/*
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}
*/

/*
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
.header {
    color: #44453f;
}
*/

/*
header,footer,body,.video-container{
   background-color: pink;
}
*/

body {
    padding-left: 190px;
    background-color: #222;
    position: relative;
    min-height: 100vh;
    font-family: "Helvetica 65 Medium", sans-serif;
}

main {
    padding: 0 1% 100px 0;
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 25px;
    padding-right: 10px;
}

.header {
    width: max-content;
    color: lightgray;
    padding-top: 15px;
    padding-left: 1%;
    margin-bottom: 1%;
}

.footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

    .video-container h3 {
        color: lightgray;
    }

.sidebar-link {
    display: block;
    width: max-content;
    color: darkgray;
    text-decoration: none;
    margin-left: 10%;
    padding: 7px 10px;
    border-radius: 20px;
    transition: .2s;
}

    .sidebar-link:hover {
        color: white;
        background-color: #555;
        transition: .2s;
    }

.input {
    padding: 7px 10px;
    width: 50%;
    color: whitesmoke;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #444;
}

    .input:focus {
        background-color: #555;
    }

    .input::-webkit-input-placeholder {
        color: rgba(211, 211, 211, 0.3);
    }

    .input:focus::-webkit-input-placeholder {
        color: rgba(211, 211, 211, 0.7);
    }

.substract {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.instagram-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    font-size: 16px;
    border-radius: 3px;
    background-color: #222;
    color: lightgray;
    padding: 15px;
}

    .instagram-sub > p:nth-child(2) {
        margin: 5px 0 0 0;
    }

.close-button {
    display: flex;
    justify-content: center;
    color: lightgray;
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #111;
    transition: .2s;
    padding: .6px 0;
}

    .close-button:hover {
        background-color: #555;
        transition: .2s;
        cursor: pointer;
    }

.button {
    width: 100%;
    padding: 9px 24px;
    background-color: #111;
    color: white;
    border: 1px #111 solid;
    border-radius: 20px;
    outline: none;
    transition: .2s;
}

    .button:hover {
        background-color: #555;
        border-color: #555;
        transition: .2s;
        cursor: pointer;
    }

    .close-button:active, .button:active {
        color: #222;
        background-color: white;
    }


.review-edit-container {
    display: none;
    margin-top: 3%;
    margin-bottom: 50px;
    padding-left: 1%;
}

.review-button {
    width: max-content;
    margin: 1%;
}

.open-button {
    margin-bottom: 50px;
}

.review-input {
    width: 20%;
    margin-left: 5px;
    padding: 7px 0 3px 3px;
    border: none;
    outline: none;
    color: lightgray;
    border-bottom: 1px grey solid;
    background-color: transparent;
}

    .review-input:hover {
        cursor: text;
    }

.input-container {
    font-size: 14px;
    margin: 1%;
    color: lightgray;
}

.textarea {
    font-family: "Helvetica 65 Medium", sans-serif;
    background-color: gainsboro;
    resize: none;
    outline: none;
    width: 60%;
    padding: 5px;
}

    .textarea:hover {
        cursor: text;
    }

.comment-date {
    position: absolute;
    right: 1%;
    font-size: 10px;
}

.comment-rate {
    margin: 3px 0 0 0;
    font-size: 11px;
}

.comment {
    border-radius: 25px;
    padding: 15px 5px 5px;
    color: lightgray;
    background-color: #444;
    margin-bottom: 1%;
}

    .comment hr {
        border-color: gray;
        background-color: gray;
    }

    .comment p {
        padding: 0 1%;
    }

        .comment p:first-child {
            display: flex;
            align-items: flex-end;
            position: relative;
            margin: 0;
        }

.comment-text {
    font-size: 14px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.lable {
    position: relative;
    display: flex;
    align-items: center;
    color: darkgrey;
    font-size: 14px;
    padding-left: 20px;
    transition: .2s;
}

    .lable:hover {
        color: lightgray;
        transition: .2s;
    }

        .lable:hover .fake {
            background-color: #333;
            transition: .2s;
        }

    .lable:active .fake {
        background-color: #777;
    }

.lable-span {
    padding: 3px 0 0 7px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.fake {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 5px;
    transition: .2s;
}

    .fake::before {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        content: '\2714';
        font-size: 18px;
        color: white;
        width: 10px;
        height: 10px;
        top: 20%;
        left: 25%;
        opacity: 0;
    }

.lable:hover .checkbox:checked + .fake {
    background-color: #333;
    transition: .2s;
}

.lable:active .checkbox:checked + .fake {
    background-color: #777;
}

.checkbox:checked + .fake {
    background-color: transparent;
}

    .checkbox:checked + .fake::before {
        opacity: 1;
    }

.help {
    position: relative;
    color: gray;
    text-decoration: underline gray;
    padding: 0 0 0 10px;
    transition: .2s;
}

    .help:hover {
        cursor: default;
        color: lightgray;
        text-decoration: underline lightgray;
        transition: .2s;
    }

        .help:hover::after {
            position: absolute;
            top: 0;
            right: -210px;
            display: block;
            width: 200px;
            font-size: 12px;
            content: "Позволить оценивать другим пользователям ваш коментарий."
        }

.control-container {
    display: flex;
    align-items: center;
}

.button-rate {
    width: max-content;
    padding: 1px 10px 0px 7px;
    margin-left: 1%;
    line-height: 16px;
    font-size: 10px;
    background-color: #111;
    color: white;
    border: 1px #111 solid;
    border-radius: 20px;
    outline: none;
    transition: .2s;
}

    .button-rate:hover {
        background-color: #222;
        border-color: #222;
        cursor: pointer;
    }


.slider {
    position: relative;
    width: max-content;
    margin: 1% auto;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40%;
    width: 10%;
    color: rgba(255, 255, 255, 0.6);
    outline: 0;
    border: 0;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .3s;
    opacity: 0;
    z-index: 1;
}

    .slider-button:active {
        background-color: rgba(0, 0, 0, 0.8);
        color: rgba(255, 255, 255, 0.8);
        transition: .3s;
    }

    .slider-button:nth-of-type(1) {
        right: 0;
    }

    .slider-button:nth-of-type(2) {
        left: 0;
    }

.slider-img {
    width: 100%;
    object-fit: contain;
    transition: .8s ease-in;
}

.slider-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    opacity: 0;
    transition: .3s;
}

.slider:hover > .slider-button {
    opacity: 0.6;
}

.slider-button:hover {
    transition: .3s;
    cursor: pointer;
}

.slider:hover > .slider-bar {
    opacity: 1;
}

.slider-bar_item {
    margin: 0 20px;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

    .slider-bar_item:hover {
        cursor: pointer;
    }

    .slider-bar_item:nth-child(1) {
        background-color: rgba(255, 255, 255, 0.8);
    }

.carusel::-webkit-scrollbar {
    height: 0;
}

.container {
    position: relative;
    margin: 0 auto;
}

.carusel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 999px;
}

.carusel:hover {
    cursor: grab;
}

.carusel:active {
    cursor: grabbing;
}

.slides-collectioin {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide {
    flex-shrink: 0;
    scroll-snap-align: start;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    user-select: none;
}

.carusel-button {
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
}

    .carusel-button:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: rgba(255, 255, 255, 0.8);
    }

    .carusel-button:nth-of-type(1) {
        right: 10px;
    }

    .carusel-button:nth-of-type(2) {
        left: 10px;
    }

.container:hover > .carusel-bar_item, .container:hover > .carusel-button {
    opacity: 1;
}

.carusel-bar_item {
    display: inline-block;
    margin: 0 20px;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 1;
}

    .carusel-bar_item.item_1 {
        left: 43%;
    }

    .carusel-bar_item.item_3 {
        left: 57%;
    }

    .carusel-bar_item:hover {
        cursor: pointer;
    }

    .carusel-bar_item[data-active] {
        background-color: rgba(255, 255, 255, 0.8);
    }
