<div class="container">
    <button type="button" class="slider-button carusel-button" onclick="next()">&#9658;</button>
    <button type="button" class="slider-button carusel-button" onclick="prev()">&#9668;</button>
    <div class="carusel">
        <img class="slide" src="../../Static/img/london.jpg" alt="london" data-active>
        <img class="slide" src="../../Static/img/ny.jpg" alt="new_york">
        <img class="slide" src="../../Static/img/spb.jpg" alt="sankt-peterburg">
    </div>
    <div class="slider-bar carusel-bar">
        <div class="carusel-bar_item" onclick="tapItem(0)" data-active></div>
        <div class="carusel-bar_item" onclick="tapItem(1)"></div>
        <div class="carusel-bar_item" onclick="tapItem(2)"></div>
    </div>
</div>