<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/css/index.css" rel="stylesheet" type="text/css">
    <!--
    <style>
        .block {
            border: 2px solid black;
            background-color: azure;
            padding: 10px;
        }
    </style>
    -->
    <script src="../Static/js/index.js"></script>
</head>
    <body>
        <header class="header">
            <h1>LifeSpot — прямые трансляции с улиц</h1>

            <input class="input" type="text" placeholder="Поиск" />
            <button class="button">Найти</button>

            <p>Покажем, что происходит прямо сейчас</p>
        </header>

        <main>
            <!--<aside id="sidebar">
                <ul class="navbar">
                    <li><a class="navbar-link" href="/">Все трансляции</a></li>
                    <li><a class="navbar-link" href="/">О приложении</a></li>
                </ul>
            </aside>-->

            <!--SIDEBAR-->

            <div class="bordered">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/e3IGUhlmXMs" width="560" height="315" name="window" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Санкт-Петербург</h3>
                </div>

                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/JplMzss6_YE" width="560" height="315" name="window" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Лондон</h3>
                </div>

                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zu6yUYEERwA" title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Филлипины</h3>
                </div>
            </div>
        </main>

        <!--<footer class="footer">
            <p>LifeSpot - все права защищены</p>
            <p>Связаться с нами: contact@lifespot.ru</p>
        </footer>-->

        <!--FOOTER-->
    </body>
</html>
