<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/css/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/js/index.js"></script>
    <script>
        //printSession(handleSession())
    </script>
</head>
    <body>
        <header class="header">
            <h1>LifeSpot — прямые трансляции с улиц</h1>
            <p>Покажем, что происходит прямо сейчас</p>

            <input class="input" oninput="
            filter(function() {
                return document.querySelector('.input').value.toLowerCase();
            })"
            type="text" placeholder="Поиск"/>
        </header>

        <main>

            <!--SIDEBAR-->

            <div class="bordered">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/e3IGUhlmXMs" width="560" height="315" name="window" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Санкт-Петербург</h3>
                </div>

                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/JplMzss6_YE" width="560" height="315" name="window" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Лондон</h3>
                </div>

                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zu6yUYEERwA" title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Филлипины</h3>
                </div>
            </div>
        </main>

        <!--FOOTER-->

    </body>
</html>
