<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LifeSpot</title>
        <link href="../Static/css/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <!-- Заголовок страницы -->
            <h1>LifeSpot — прямые трансляции с улиц</h1>
            <!-- Параграф -->
            <p>Покажем, что происходит прямо сейчас</p>
        </header>

        <main>
            <aside id="sidebar">
                <ul class="navbar">
                    <li><a href="/">Все трансляции</a></li>
                    <li><a href="/">О приложении</a></li>
                </ul>
            </aside>

            <div class="bordered">

                <div class="video-container">
                    <h3>Санкт-Петербург</h3>
                    <iframe src="https://www.youtube.com/embed/e3IGUhlmXMs" width="560" height="315" name="window" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p>Какое-то описание</p>
                </div>

                <div class="video-container">
                    <h3>Лондон</h3>
                    <iframe src="https://www.youtube.com/embed/JplMzss6_YE" width="560" height="315" name="window" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p>Какое-то описание</p>
                </div>

            </div>
        </main>

        <footer>
            <!--Футер страницы находится под основной частью (body)-->
            <p>LifeSpot - все права защищены</p>
            <p>Связаться с нами: contact@lifespot.ru</p>
        </footer>
    </body>
</html>



<!-- Кнопки, обёрнутые в ссылки -->
<!--<a href="https://www.youtube.com/embed/e3IGUhlmXMs" target="window"><button>Санкт-Петербург</button></a>-->
<!-- Заблокирован -->
<!--<a href="https://www.youtube.com/watch?v=srlpC5tmhYs&amp" " target="window"><button>Нью-Йорк</button></a>
<a href="https://www.youtube.com/embed/JplMzss6_YE" target="window"><button>Лондон</button></a>-->
<!-- Пример использования iFrame -->
<!--
<ul>
    <li><a href="https://www.google.ru" target="myframe">Google</a></li>
    <li><a href="http://www.yandex.ru/" target="myframe">Yandex</a></li>
    <li><a href="https://duckduckgo.com/" target="myframe">DuckDuckGo</a></li>
</ul>

<iframe src="http://example.com/" name="myframe"></iframe>
-->
