<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <title>LifeSpot</title>
        <link href="../Static/css/index.css" rel="stylesheet"/>
        <script defer src="../Static/js/testing.js"></script>
        <style>
            .button{
                width: 40%;
            }
            .input{
                padding: 9px 10px;
            }
        </style>
    </head>

    <body>

        <header class="header">
            <h1>LifeSpot - тестовая страница</h1>
            <p>Здесь можно эксперементировать с кодом</p>
            <input class="input" type="text" size=50% placeholder="Введите текст"/>
            <button class="button" onclick="saveInputText()">Сохранить текст</button>
        </header>

        <main>
            <!--TEST-SLIDER-->
        </main>

        <!--SIDEBAR-->

        <!--FOOTER-->

    </body>
</html>